page {
    padding-bottom: 90rpx;
}

.recevice_address_row {
    .address_btn {
        padding: 20rpx;

        button {
            width: 60%;
        }
    }

    .user_info_row {
        padding: 20rpx;
        display: flex;

        .user_info {
            flex: 5;
            text-align: left;
        }

        .user_phone {
            flex: 3;
            text-align: right;
        }
    }
}